section.container {
    height: 100vh;
}

.card {
    height: 500px;
    background: url("./../../assets/layered-waves-haikei2.svg") no-repeat center center;
    border: none;
    border-radius: 0;
}
